DesignSystemExample/DesignSystemExample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
DesignSystemExample/DesignSystemExample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate
*.xcuserstate
